$primary_link_color: #162f54;
$background_color: #d4610c;

$white: #FFF;
$black: #000;
$input_border: #BBB;
$default_border_color: #DDD;
$link_hover_color: #3C7DFB;
$lighter_text_color: #666;
$medium_blue: #2E6AB1;
$lightest_blue: #BBDAFD;
$light_blue: #E5F2F8;
$dark_blue: #162F54;

//$link_color: #2E6AB1;
$link_color: #162f54;
$link_color_alt: $background_color;

$link_hover_color: $black;
$link_hover_color_alt: $white;

$selling_price_color: $dark_blue;
